@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1);
  }

  81% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.animation-rotate { animation: rotate var(--animation-duration-l) infinite linear; }
.animation-fade-in { animation: fade-in var(--animation-duration-l) ease forwards; }
.animation-fade-out { animation: fade-out var(--animation-duration-l) ease forwards; }
.animation-shake { animation: shake var(--animation-duration-l) ease; }
.animation-grow { animation: grow var(--animation-duration-l) linear; }

.animation-duration-s { animation-duration: var(--animation-duration-s); }
.animation-duration-l { animation-duration: var(--animation-duration-l); }
.animation-duration-xl { animation-duration: var(--animation-duration-xl); }

.animation-timing-linear { animation-timing-function: linear; }
.animation-timing-ease { animation-timing-function: ease; }