/* stylelint-disable selector-class-pattern */
.border {
  border: 1px solid var(--color-lightgrey);
}
.border-top { border-top: 1px solid var(--color-lightgrey); }
.border-right { border-right: 1px solid var(--color-lightgrey); }
.border-bottom { border-bottom: 1px solid var(--color-lightgrey); }
.border-left { border-left: 1px solid var(--color-lightgrey); }

.border-radius-circle { border-radius: 100% !important; }
.no-border { border: none !important; }
.no-border-left { border-left: none !important; }
.no-border-right { border-right: none !important; }
.no-border-top { border-top: none !important; }
.no-border-bottom { border-bottom: none !important; }

@media (min-width: $break-sm) {
  .sm\:border-top { border-top: 1px solid var(--color-lightgrey); }
}
