/**************************************
 *
 * Custom Bootstrap grid for use within the content box
 *
 *************************************/

.custom-col-sm-3 {
  @media (min-width: $break-sm) {
    width: calc((3 / 10) * 100% - (2 * var(--gutter-width)));
    padding: 0;
    margin: 0 var(--gutter-width);
  }
}

.custom-col-sm-4 {
  @media (min-width: $break-sm) {
    width: calc((4 / 10) * 100% - (2 * var(--gutter-width)));
    padding: 0;
    margin: 0 var(--gutter-width);
  }
}

.custom-col-sm-6 {
  @media (min-width: $break-sm) {
    width: calc((6 / 10) * 100% - (2 * var(--gutter-width)));
    padding: 0;
    margin: 0 var(--gutter-width);
  }
}

.custom-col-sm-7 {
  @media (min-width: $break-sm) {
    width: calc((7 / 10) * 100% - (2 * var(--gutter-width)));
    padding: 0;
    margin: 0 var(--gutter-width);
  }
}

.custom-col-md-2 {
  @media (min-width: $break-md) {
    width: calc((2 / 10) * 100% - var(--spacing-xl));
    padding: 0;
    margin: 0 var(--gutter-width);
  }
}

.custom-col-md-3 {
  @media (min-width: $break-md) {
    width: calc((3 / 10) * 100% - var(--spacing-xl));
    padding: 0;
    margin: 0 var(--gutter-width);
  }
}

.custom-col-md-4 {
  @media (min-width: $break-md) {
    width: calc((4 / 10) * 100% - var(--spacing-xxs));
  }
}

.custom-col-md-5 {
  @media (min-width: $break-md) {
    width: calc((5 / 10) * 100% - var(--spacing-xxs));
  }
}

.custom-col-md-6 {
  @media (min-width: $break-md) {
    width: calc((6 / 10) * 100% - var(--spacing-xxs));
  }
}

.custom-col-md-7 {
  @media (min-width: $break-md) {
    width: calc((7 / 10) * 100%);
    padding-right: 0;
  }
}
