.box-shadow-small { box-shadow: var(--box-shadow-small); }
.box-shadow-medium { box-shadow: var(--box-shadow-medium); }
.box-shadow-large { box-shadow: var(--box-shadow-large); }

.outline { border: 1px solid var(--color-lightgrey); }
