/* stylelint-disable no-descending-specificity */

/**************************************
 *
 * Standard HTML tags
 *
 *************************************/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family-charter);
  color: var(--color-slate);
  line-height: var(--line-height-loose);
  font-size: var(--font-size-xs);
  box-sizing: border-box;

  p,
  img,
  ul,
  ol,
  video,
  pre {
    margin-bottom: var(--spacing-m);

    @media (min-width: $break-sm) {
      margin-bottom: var(--spacing-xl);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  pre {
    display: block;
    font-family: monospace;
    white-space: pre;
  }

  sub {
    vertical-align: sub;
    font-size: smaller;
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }

  ul {
    padding-left: var(--spacing-m);
    list-style-position: outside;

    li {
      position: relative;
      list-style-type: none;
      break-inside: avoid-column;
      padding-left: var(--spacing-s);
      margin-bottom: var(--spacing-s);

      @media (min-width: $break-sm) {
        padding-left: var(--spacing-m);
        margin-bottom: var(--spacing-m);
      }

      &:last-of-type,
      :last-child {
        margin-bottom: 0;
      }

      &::before {
        @extend .icon-special-bullet;

        width: var(--spacing-m);
        min-height: var(--spacing-m);
        height: calc(1em * var(--line-height-loose));
        color: var(--color-slate);
        display: inline-block;
        content: "";
        position: absolute;
        left: calc(-1 * var(--spacing-m));
        background-size: 24px 24px;
        background-position: center;
        /* stylelint-disable-next-line function-url-quotes */
        filter: url(#slate);
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
      }
    }
  }

  ol {
    counter-reset: numbered;
    padding-left: var(--spacing-m);

    li {
      position: relative;
      padding-left: var(--spacing-s);
      margin-bottom: var(--spacing-s);

      @media (min-width: $break-sm) {
        padding-left: var(--spacing-m);
        margin-bottom: var(--spacing-m);
      }

      &:last-of-type,
      :last-child {
        margin-bottom: 0;
      }

      &::before {
        font-weight: bold;
        position: absolute;
        display: inline-block;
        left: calc(-1 * var(--spacing-m));
        min-width: var(--font-size-l);
        content: counter(numbered);
        counter-increment: numbered;
        text-align: left;
      }
    }
  }
}
