/* stylelint-disable selector-class-pattern */
.experts-slider-content {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-tight);
  text-align: center;

  .subline {
    margin: 0 auto;
    padding: 0 var(--spacing-m);

    @media (min-width: $break-sm) {
      padding: 0 var(--spacing-xl);
      max-width: 738px;
    }

    @media (min-width: $break-lg) {
      padding: 0;
    }
  }

  .slider {
    margin: var(--spacing-xl) 0;
    padding: 0;
    white-space: nowrap;

    &,
    * {
      user-select: none;
      -webkit-user-drag: none;
    }

    li {
      padding-left: 0;
      font-size: var(--font-size-xxxs);
      line-height: var(--line-height-small);

      @media (min-width: $break-sm) {
        font-size: var(--font-size-xxs);
        line-height: var(--line-height-xxs);
      }

      &::before {
        content: unset;
      }
    }

    img {
      display: block;
      width: 88px;
      margin: 0 auto;

      @media (min-width: $break-sm) {
        width: 104px;
      }

      @media (min-width: $break-md) {
        width: 120px;
      }
    }

    strong {
      display: block;
      margin-top: var(--spacing-s);
    }

    small {
      display: block;
      margin-top: var(--spacing-xxxs);
    }

    /* Flickity styles */
    .flickity-cell {
      width: 160px;
      height: 176px;
      margin-right: var(--spacing-xxs);

      @media (min-width: $break-sm) {
        margin-right: var(--spacing-m);
      }
    }

    .flickity-viewport {
      margin-bottom: var(--spacing-m);
    }

    .flickity-prev-next-button {
      &.previous {
        margin-right: var(--spacing-m);
      }
    }
  }
}
