.custom-input {
  font-family: var(--font-family-inter);
  position: relative;

  .input-outline {
    border-radius: 2px;
    border: 1px solid transparent;
    transition: border-color var(--animation-duration-l);

    &:focus-within {
      border-color: var(--color-indigo);
    }
  }

  .input-wrapper {
    border: 1px solid var(--color-grey);
    padding: calc(var(--spacing-xs) - 1px) var(--spacing-s);
    display: flex;
    gap: var(--spacing-xxs);
    transition: border-color var(--animation-duration-l);

    &:hover,
    &.filled {
      border-color: var(--color-slate);
    }

    &:focus-within {
      border-color: var(--color-indigo);
    }
  }

  &.filled {
    .input-wrapper {
      border-color: var(--color-slate);
    }
  }

  input {
    width: 100%;
    border: none;
    padding: 0;
    flex-grow: 1;
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);

    &[type="text"]+label,
    &[type="tel"]+label {
      font-size: var(--font-size-xs);
      line-height: var(--spacing-m);
      flex-shrink: 0;
    }

    &:disabled {
      background-color: transparent;
    }

    &:focus {
      outline: none;
    }
  }

  & .input-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-grey);
  }
}
