.alert {
  font-family: var(--font-family-inter);
  background-color: var(--color-amber);
  padding: var(--spacing-xs) var(--spacing-s);
  border: none;
  font-weight: 700;
  font-size: var(--font-size-xxs);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-s);
  margin-top: var(--spacing-xl);
  line-height: var(--line-height-xxs);

  &:visited,
  &.affiliate {
    color: var(--color-slate) !important;
    margin-right: 0;
  }

  &.affiliate {
    &::after {
      display: none;
    }

    span {
      &::after {
        content: "*";
        color: var(--color-slate);
        display: inline-block;
        position: absolute;
        font-family: var(--font-family-charter);
        font-size: 15px;
        font-weight: normal;
        transition: color var(--animation-duration-l);
      }
    }
  }

  .chevron-right {
    min-width: 24px;

    .stroke {
      stroke: var(--color-slate);
    }
  }

  @media (min-width: $break-md) {
    margin-top: var(--spacing-xxxl);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
  }
}
