.content-box {
  border: 1px solid var(--color-lightgrey);
  box-shadow: var(--box-shadow-small);
  padding: var(--spacing-m);
  margin-bottom: var(--spacing-m);

  @media (min-width: $break-sm) {
    padding: var(--spacing-xl);
    width: calc(100% + 2 * var(--spacing-xl));
    margin-left: calc(-1 * var(--spacing-xl));
    margin-bottom: var(--spacing-xl);
  }

  &:last-child,
  :last-child {
    margin-bottom: 0;
  }

  ul,
  p {
    margin-bottom: var(--spacing-s);

    @media (min-width: $break-sm) {
      margin-bottom: var(--spacing-m);
    }
  }

  p {
    font-size: var(--font-size-xs);

    @media (min-width: $break-sm) {
      font-size: var(--font-size-s);
    }

    @media (min-width: $break-md) {
      font-size: var(--font-size-m);
    }
  }

  h4 {
    font-size: var(--font-size-m);
    margin-bottom: var(--spacing-s);
    text-align: left;
    font-weight: bold;
    line-height: var(--line-height-title);

    @media (min-width: $break-sm) {
      margin-bottom: var(--spacing-m);
    }

    @media (min-width: $break-md) {
      font-size: var(--font-size-l);
    }
  }

  ul {
    li {
      margin: 0;
      font-size: var(--font-size-xs);
      line-height: var(--line-height-tight);
      padding-left: var(--spacing-xs);
      margin-bottom: var(--spacing-xxs);

      @media (min-width: $break-sm) {
        padding-left: var(--spacing-s);
        font-size: var(--font-size-s);
      }

      &::before {
        height: calc(1em * var(--line-height-tight));
        background-position: center;
      }

      p {
        font-size: var(--font-size-xs);

        @media (min-width: $break-sm) {
          font-size: var(--font-size-s);
        }
      }
    }
  }
}
