/* stylelint-disable color-function-notation */
/* stylelint-disable selector-class-pattern */
.frame-type-ftcustomcontentelements_herostage {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-xl);

  @media (min-width: $break-sm) {
    margin-top: var(--spacing-xl);
  }
}

.hero-stage {
  font-family: var(--font-family-inter);
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-m);
  border-bottom: solid 1px var(--color-lightgrey);
  padding-bottom: var(--spacing-m);
  font-size: var(--font-size-xs);
  color: var(--color-neutrals-black);

  svg {
    display: block;
  }

  small,
  strong {
    display: block;
  }

  a {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;

    span {
      visibility: hidden;
    }
  }

  li {
    position: relative;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr calc(5 * var(--font-size-xs));
    grid-column-gap: var(--font-size-xs);
    height: 80px;
    overflow: hidden;
    padding: 0;

    &::before {
      content: unset;
    }

    * {
      margin: 0;
      padding: 0;
    }

    svg {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      width: calc(5 * var(--font-size-xs));
      height: calc(5 * var(--font-size-xs));
    }

    p {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      position: static;
      width: auto;
      padding: 0;
      background-image: none;
      color: inherit;
    }

    small {
      font-size: var(--font-size-xxs);
      line-height: var(--line-height-tight);
    }

    strong {
      font-size: var(--font-size-xs);
      margin-top: calc(var(--font-size-xs) / 4);
      line-height: var(--line-height-title);
    }

    &.hero-stage-large {
      display: block;

      /* imitation of Bootstrap's col-xs-12 definition */
      width: calc(100vw - 2 * var(--outer-margin-xs));
      max-width: calc(var(--width-container-xs) - 2 * var(--outer-margin-xs));
      height: calc(100vw - 2 * var(--outer-margin-xs));
      max-height: calc(var(--width-container-xs) - 2 * var(--outer-margin-xs));

      svg {
        width: 100%;
        height: 100%;
      }

      p {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: var(--spacing-m);
        background-image: linear-gradient(rgba(48, 48, 48, 0%), rgba(48, 48, 48, 100%));
        color: var(--color-white);
      }

      small {
        font-size: var(--font-size-xs);
        line-height: var(--line-height-tight);
      }

      strong {
        font-size: var(--font-size-l);
        margin-top: calc(var(--font-size-l) / 3);
        line-height: var(--line-height-title);
      }
    }
  }

  @media (min-width: $break-sm) {
    grid-template-columns: repeat(2, 1fr);
    border-bottom: none;
    padding-bottom: 0;

    li {
      &.hero-stage-large {
        grid-row: 1 / 5;
        width: auto;
        max-width: unset;
        height: 392px;
        max-height: unset;

        small {
          font-size: var(--font-size-xxs);
        }

        strong {
          font-size: var(--font-size-m);
        }
      }

      p {
        padding-left: var(--spacing-m);
      }
    }
  }

  @media (min-width: $break-sm) and (max-width: $break-sm-max) {
    li {
      &.hero-stage-std-sm {
        grid-row: unset;
        display: grid;
        height: 80px;

        svg {
          width: calc(5 * var(--font-size-xs));
          height: calc(5 * var(--font-size-xs));
        }

        p {
          position: static;
          width: auto;
          padding: 0 0 0 var(--spacing-m);
          background-image: none;
          color: inherit;
        }

        small {
          font-size: var(--font-size-xxs);
          line-height: var(--line-height-tight);
        }

        strong {
          font-size: var(--font-size-xs);
          margin-top: calc(var(--font-size-xs) / 4);
          line-height: var(--line-height-title);
        }
      }

      &.hero-stage-hide-sm {
        display: none;
      }
    }
  }

  @media (min-width: $break-md) {
    grid-template-columns: repeat(3, 1fr);

    li {
      &.hero-stage-large {
        small {
          font-size: var(--font-size-xs);
        }

        strong {
          font-size: var(--font-size-l);
        }

        svg {
          width: 100%;
          height: 392px;
        }
      }
    }
  }
}
