/* stylelint-disable color-function-notation */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
.frame-type-ftcustomcontentelements_ressorts {
  margin-top: var(--spacing-xl);

  @media (min-width: $break-sm) {
    margin-top: var(--spacing-xxxl);
  }

  .container.header-contentelement-container {
    h4 {
      margin-top: var(--spacing-xxs);
      font-size: var(--font-size-xs);
      font-weight: normal;
      line-height: var(--line-height-tight);
    }
  }

  .bg-gradient {
    background: var(--color-white) linear-gradient(180deg, rgba(226, 229, 232, 0%), rgba(226, 229, 232, 50%));
  }

  .container + .bg-gradient {
    margin-top: var(--spacing-xl);

    .ressort {
      border-top: solid 1px var(--color-lightgrey);
    }
  }
}



.ressort {
  font-family: var(--font-family-inter);
  padding: var(--spacing-xl) 0;

  h4 {
    font-size: var(--font-size-m);

    a:visited {
      color: inherit;
    }

    small {
      display: block;
      font-size: var(--font-size-xs);
      font-weight: normal;
    }

    span + small {
      margin-top: var(--spacing-xxs);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    margin-top: var(--spacing-xl);
  }

  li {
    margin: 0;
    position: relative;
    padding: var(--spacing-s) 0;
    border-top: solid 1px var(--color-lightgrey);
    font-size: var(--font-size-xs);
    font-weight: 700;
    line-height: var(--line-height-title);

    * {
      margin: 0;
      padding: 0;
    }

    &::before {
      content: unset;
    }

    &.toggle {
      .show-all {
        &.all {
          display: none;
        }

        &.less {
          display: block;
        }
      }

      &.closed {
        padding-bottom: var(--spacing-s);

        .show-all {
          &.all {
            display: block;
          }

          &.less {
            display: none;
          }
        }
      }

      a {
        position: static;
      }
    }

    a {
      border-bottom: none;
      display: block;
      position: absolute; /* Why this is absolute I dont get it! */
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      span {
        visibility: hidden;
      }
    }

    svg {
      display: none;
      margin-top: calc(0px - var(--spacing-s));
      margin-bottom: var(--spacing-xs);

      /* imitation of Bootstrap's col-xs-12 definition */
      width: calc(100vw - 2 * var(--outer-margin-xs));
      max-width: calc(var(--width-container-xs) - 2 * var(--outer-margin-xs));
      height: calc(187 * ( 100vw - 2 * var(--outer-margin-xs) ) / 327);
      max-height: calc(187 * ( var(--width-container-xs) - 2 * var(--outer-margin-xs) ) / 327);
    }

    &:nth-child(1) {
      border-top: none;

      svg {
        display: block;
      }
    }

    &.toggle.closed ~ li {
      border-width: 0;
      padding: 0;
      height: 0;
      font-size: 0;
    }
  }

  .show-all {
    position: relative;
    font-size: var(--font-size-xxs);
    font-weight: 700;
    line-height: var(--line-height-xxs);
    color: var(--color-indigo);
  }

  @media (min-width: $break-sm) {
    padding-top: calc(var(--spacing-xxl) - var(--spacing-xxs));
    padding-bottom: calc(var(--spacing-xxl) - var(--spacing-xxs));

    h4 span + small {
      display: inline;

      &::before {
        content: "–";
        display: inline-block;
        margin: 0 var(--spacing-xs);
      }
    }

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: var(--spacing-m);
    }

    li {
      margin-left: var(--spacing-s);

      &:nth-child(1) {
        grid-row: 1 / 7;
        margin-left: 0;

        svg {
          width: 100%;
          max-width: unset;
          height: auto;
          max-height: 191px;
        }
      }
    }
  }

  @media (min-width: $break-md) {
    padding-top: var(--spacing-xxxl);
    padding-bottom: var(--spacing-xxxl);

    ul {
      grid-template-columns: repeat(3, 1fr);
    }

    li {
      &:nth-child(1),
      &:nth-child(2) {
        grid-row: 1 / 6;
        border-top: none;
        margin-left: 0;

        svg {
          display: block;
          width: 100%;
          max-width: unset;
          height: auto;
          max-height: 204px;
        }
      }
    }
  }
}
