.provider-details-header {
  font-family: var(--font-family-inter);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-m);

  @media (min-width: $break-sm) {
    flex-direction: row;
    gap: var(--spacing-xxl);
  }

  & > * {
    width: 100%;

    @media (min-width: $break-sm) {
      flex-grow: 1;
    }
  }
}
